.todo-list{
    margin:0;
    overflow-x:hidden
    /* align-items: center; */
    /* display:flex; */
    /* justify-content: center; */
    /* flex-direction:column; */
}

header{
    height: 15vh;
    background-color: rgb(80, 79, 79);
    color:white;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 0 4%;
  }
 
  header div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.3rem;
   
  }
  
  header button{
    border: 1px solid;
    border-radius: 3px;
  }
  #reset-btn{
    width: 6%;
    height: 30%;
    border:2px solid black;
  }
.enter-task{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.input-btn{
    display:flex;
    justify-content: space-between;
}
button{
    margin-left: 20px;
}
.pending-task-heading{
    background: yellowgreen;
    /* margin:5px; */
    /* padding:5px; */
    width:300px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    width:300px;
    height:30px;
    font-size: large;
    font-weight:600;
}
.tasks{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
}
.task-comp{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.pending{
    background:#1111;
    border: 1px solid black;
    color:green;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
    padding-left:15px;
    padding-right:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.pending h3{
    margin-left:10px;
}
#circle{
    color:pink
}
/* .btns{
    display:flex;
    flex-direction:column;
} */
.trash{
    color:red;
    font-size:1rem;
}
button{
    background: rgb(60, 237, 225);
}
button:hover{
    
    background:rgb(180, 128, 230);
}
.task-done{
    background: #1111;
    background:#1111;
    border: 1px solid black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
    padding-left:15px;
    padding-right:15px;
}
.task-done h3{
    margin-left:20px;
    font-size:1.2rem;
}
@media only screen and (max-width: 1000px){
    header{
        width:100%;
        height: 15vh;
        padding: 0;
        
      }
      header div{
        width: 100%;
        font-size:1rem;
       
      }
      #reset-btn{
        width: fit-content;
        /* height: 30%; */
        border:2px solid black;
        position:relative;
        right:25px;
      }
      button{
        margin:0
      }
      .task{
        display:flex;
        flex-direction :column;

      }
      .pending-task-heading{
        background: yellowgreen;
        /* margin:5px; */
        /* padding:5px; */
        width:fit-content;
        /* height:50px; */
        /* display:flex; */
        /* justify-content: center; */
        flex-direction:column;
        /* align-items: center; */
    }
    .pending{
        width:200px;
        flex-wrap: wrap;
        overflow: hidden;
    }
}


